---
permalink: /portfolio/
layout: page
external_id: portfolio
id: portfolio-page
---
<!-- Assign Variables -->

<!-- Render Content -->
<!-- contact modal rendered in default.html layout -->
<main id="{{ page.id }}">

  <!-- Page Headering -->
  <div class="page-section">
      <div class="container">
          <div class="row">
              <div class="col">
                  <h1 class="page-title">{{ site.data.sitetext.portfolio.title }}</h1>
                  <p class="page-description">{{ site.data.sitetext.portfolio.description }}</p>
              </div>
          </div>
      </div>
  </div>

  <div class="page-section">
    <div class="container">

      {% for service_category in site.data.services.service_categories %}
        {% assign service_category_page = site.pages | where: "external_id", service_category.page_id | first %}
        {% assign examples_url = '' %}

        <div class="service-category card mb-5 p-4">

          <!-- Section Description and Image -->
          <div class="row">
            <div class="service-information col-12 col-md-8">
              <h2 class="section-heading" id="functional-designs">
                  {{ service_category.title }}
                </h2>

              {{ service_category.why | markdownify }}

              <div class="d-none d-md-flex justify-content-center">
                <a class="cta-btn btn btn-tertiary w-100 p-3 mb-2" href="{{ service_category_page.permalink }}">
                  View {{ service_category.label }} Services
                </a>
                {% unless examples_url == empty %}
                  <a href="{{ examples_url }}" class="text-center hide-link">See examples</a>
                {% endunless %}
              </div>
            </div>

            <div class="col-12 col-md-4 d-flex flex-column justify-content-center">
              <div class="d-flex justify-content-center">
                <span class="fa-stack fa-3x mb-4">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="{{ service_category.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
                </span>

                <ul class="great-for m-0 px-4">
                  {% for li in service_category.great_for %}
                    <li>{{ li | capitalize }}</li>
                  {% endfor %}
                </ul>
              </div>

              <div class="d-flex d-md-none justify-content-center">
                <a class="cta-btn btn btn-tertiary w-100 p-3 mb-2" href="{{ service_category_page.permalink }}">
                  View {{ service_category.label }} Services
                </a>
                {% unless examples_url == empty %}
                  <a href="{{ examples_url }}" class="text-center hide-link">See examples</a>
                {% endunless %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>

  <hr>

  <!-- foot notes -->
  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Don't see exactly what you're looking for? <a data-bs-toggle="modal" data-bs-target="#contact-modal" href="#">Reach out</a>, and we will get you moving on the next steps toward your solution.</p>
          <p class="text-center footnote"><i>Don't let anything hold you back building your dream.</i><br>- Team @ High Ground</p>
        </div>
      </div>
    </div>
  </div>
</main>
