---
permalink: /portfolio/
layout: page
external_id: portfolio
main_content_class: portfolio
---
<!-- Assign Variables -->
{% assign category = site.data.designs | where: "external_id", "designs" | first %}
{% assign header_title = category.header.title %}

{% assign functional_designs = site.data.designs | where: "external_id", "functional_designs" | first %}
{% assign aesthetic_designs = site.data.designs | where: "external_id", "aesthetic_designs" | first %}
{% assign functional_designs_page = site.pages | where: "external_id", "functional_designs" | first %}
{% assign functional_portfolio_page = site.pages | where: "external_id", "functional_portfolio" | first %}
{% assign aesthetic_designs_page = site.pages | where: "external_id", "aesthetic_designs" | first %}
{% assign aesthetic_portfolio_page = site.pages | where: "external_id", "aesthetic_portfolio" | first %}
{% comment %}
{% assign header_text = site.data.functional_designs.site_text.header.text %}
{% assign header_subtext = site.data.functional_designs.site_text.header.subtext %}
{% assign header_button = site.data.functional_designs.site_text.header.button %}
{% assign header_button_link = site.data.functional_designs.site_text.header.button_link %}
{% endcomment %}

<!-- Rendered content -->
<!-- contact modal rendered in default.html layout -->
{% comment %}
{% include masthead.html
  title=header_title
  text=header_text
  subtext=header_subtext
  button_text=header_button
  button_link=header_button_link
%}
{% endcomment %}

<main>

  <!-- Page Headering -->
  <div class="page-section">
    <div class="container">
      <div class="row">
          <div class="col">
            <p class="page-description">{{ site.data.sitetext.portfolio.description }}</p>
          </div>
      </div>
    </div>
  </div>

  <!-- Functional Designs -->
  <div class="page-section">
    <div class="container">

      {% for service_category in site.data.services.service_categories %}
        {% assign services_url = "" %}
        {% assign examples_url = "" %}

        <div class="service-category mb-4">
          <!-- Section Heading -->
          <div class="row section-heading-row mb-4">
            <div class="col">
              <div class="heading-bar text-center">
                <h2 class="section-heading" id="functional-designs">
                  <span class="fa-stack fa-1x">
                    <i class="fas fa-circle fa-stack-1x text-primary"></i>
                    <i class="{{ service_category.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
                  </span><br>
                  {{ service_category.title }}
                </h2>
              </div>
            </div>
          </div>

          <!-- Section Description and Image -->
          <div class="row mb-4">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
              <div>{{ service_category.why }}</div>
              <div>{{ service_category.description }}</div>
            </div>

            <div class="col-12 col-md-6 mb-4 d-flex flex-column justify-content-center align-items-center">
              <a class="cta-btn btn btn-tertiary w-75 w-sm-100 p-3 mb-2" href="{{ services_url }}">
                View {{ service_category.title }}
              </a>
              <a href="{{ examples_url }}" class="text-center hide-link">See examples</a>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>

  <hr>
  
  <!-- foot notes -->
  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>If you don't see exactly what you're looking for, <a data-bs-toggle="modal" data-bs-target="#contact-modal" href="#">reach out</a>, and we will get you moving on the next steps toward your solution.</p>
          <p class="footnote"><i>* - If our incredibly low prices still seem out of budget, <a data-bs-toggle="modal" data-bs-target="#contact-modal" href="#">contact us.</a> We will help guide you to the right designer. Same high-quality guaranteed. Don't let anything hold you back building your dream.</i></p>
        </div>
      </div>
    </div>
  </div>
</main>
