<!-- Contact -->
  <section class="page-section" id="{{ site.data.sitetext.contact.section | default: "contact" }}">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="section-heading text-uppercase">
            {{ site.data.sitetext.contact.title | markdownify | default: Contact Us }}
          </h2>
          <h3 class="section-subheading mb-4">{{ site.data.sitetext.contact.text | default: "" }}</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <p class="pre-button text-center font-bold mb-4">
            {{ site.data.sitetext.contact.pre_button_text }}
          </p>
          <a class="cta-btn btn btn-xl btn-tertiary" data-bs-toggle="modal" data-bs-target="#contact-modal" href="#">
            {{ site.data.sitetext.contact.button_text | markdownify | default: Start Now }}
          </a>
        </div>
      </div>
    </div>
  </section>
<!-- End Contact -->