<!-- design studio -->
<section class="page-section bg-dark" id="{{ site.data.sitetext.design_studio.section | default: "design-studio" }}">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <h2>{{ site.data.sitetext.design_studio.title }}</h2>
        <p>At High Ground, we also offer a full suite of design services perfect for where you are in your business lifecycle.</p>
        <ul>
          {% for service in site.data.sitetext.design_studio.services %}
              <li>{{ service }}</li>
          {% endfor %}
        </ul>

        <p>Not sure which of our services are right for you? <a data-bs-toggle="modal" data-bs-target="#contact-modal" href="#">Contact us</a> and we'll help you determine the perfect next step!</p>
      </div>

      <div class="col-md-6 text-center">
        <div class="double-border">
          <div class="design-studio-logo mb-4">
            <div class="text-uppercase heading-font mb-2">&mdash; the &mdash;</div>
            <div class="primary-shadow heading-font text-uppercase mb-2 design-studio">Design<br>Studio</div>
            <div class="heading-font">@ High Ground</div>
          </div>

          <div class="mb-4">
            <b>Get started on your designs today!</b>
          </div>

          <a href="{{site.data.sitetext.design_studio.link}}" class="btn btn-lg cta-btn btn-secondary" target="_blank">
            Visit Design Studio
          </a>

          <a href="{{ site.data.sitetext.design_studio.link }}" class="hide-link" target="_blank">
            <p class="text-smaller text-center text-muted">design.highground.tech</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End design studio -->