<!-- loves presents -->
<section class="page-section p-relative" id="{{ site.data.sitetext.loves_presents.section | default: "loves-presents" }}">
  <img
    src="{{ site.data.sitetext.loves_presents.image.src}}"
    alt="{{ site.data.sitetext.loves_presents.image.alt }}"
    class="bg-img"
  />
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <h2 class="text-center">{{ site.data.sitetext.loves_presents.title }}</h2>
        <div class="row row-cols-3">
          <img src="assets/img/brand/two_loves_presents_icon.png" alt="two of loves presents">
          <img src="assets/img/brand/two_loves_presents_icon.png" alt="two of loves presents">
          <img src="assets/img/brand/two_loves_presents_icon.png" alt="two of loves presents">
        </div>
        <a
          href="{{ site.data.sitetext.loves_presents.url.site }}"
          class="btn btn-secondary btn-block outbound"
        >
          Keep Love Around
        </a>
      </div>

      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div class="wrapper text-center">
          <p class="font-bold">
            {{ site.data.sitetext.loves_presents.text }}<br>
            Find <a href="{{ site.data.sitetext.loves_presents.url.site }}">LovesPresents.com</a> on social media.
          </p>

          <div class="social-icons">
            <a
              href="{{ site.data.sitetext.loves_presents.url.twitter }}"
              class="hide-link social-icon"
              target="_blank">
              <i class="fab fa-3x fa-twitter"></i>
            </a>

            <a
            href="{{ site.data.sitetext.loves_presents.url.facebook }}"
            class="hide-link social-icon"
            target="_blank"
            >
              <i class="fab fa-3x fa-facebook"></i>
            </a>

            <a
              href="{{ site.data.sitetext.loves_presents.url.instagram }}"
              class="hide-link social-icon"
              target="_blank"
            >
              <i class="fab fa-3x fa-instagram"></i>
            </a>
          </div>
        </div>
	    </div>
    </div>
  </div>
</section>
<!-- End loves presents -->