---
permalink: /designs/functional
layout: page_with_masthead
external_id: functional_designs
main_content_class: functional_designs
---
<!-- Assign Variables -->
{% assign header_title = site.data.designs.functional_designs.header.title %}
{% assign category = site.data.designs | where: "external_id", "functional_designs" | first %}
{% comment %}
{% assign header_text = site.data.functional_designs.site_text.header.text %}
{% assign header_subtext = site.data.functional_designs.site_text.header.subtext %}
{% assign header_button = site.data.functional_designs.site_text.header.button %}
{% assign header_button_link = site.data.functional_designs.site_text.header.button_link %}
{% endcomment %}

<!-- Rendered content -->
<div class="designs">
    {% include masthead.html
        title=header_title
        text=header_text
        subtext=header_subtext
        button_text=header_button
        button_link=header_button_link
    %}

    <main class="{{ page.main_content_class }}">
        <div class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="page-description">
                            {{ category.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="page-section">
            <div class="container">
                {% include portfolio_cards.html filter="functional_designs" %}
            </div>
        </div>
    </main>
</div>