---
permalink: /designs/functional
layout: page_with_masthead
external_id: functional_designs
---

{% assign header_title = site.data.functional_designs.site_text.header.title %}
{% comment %}
{% assign header_text = site.data.functional_designs.site_text.header.text %}
{% assign header_subtext = site.data.functional_designs.site_text.header.subtext %}
{% assign header_button = site.data.functional_designs.site_text.header.button %}
{% assign header_button_link = site.data.functional_designs.site_text.header.button_link %}
{% endcomment %}

<div class="designs">
    {% include masthead.html
        title=header_title
        text=header_text
        subtext=header_subtext
        button_text=header_button
        button_link=header_button_link
    %}

    <main>
        <div class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="page-description">
                            {{ site.data.functional_designs.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="functional-designs">
                            {% for c in site.data.functional_designs.collections %}
                            {{ c.title }}<br>
                            {{ c.description }}<br>
                    
                            {% for i in c.images %}
                            {{ i.description }}<br>
                            {% endfor %}
                            {%endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>