// Styling for the contact section
section#contact {
  background-color: $black;
  background-image: url("#{$contact-image}");
  background-repeat: no-repeat;
  background-position: center;

  .section-heading {
    color: $white;
  }

  .section-subheading {
    color: $gray-300;
    line-height: 1.4;
    font-size: 18px;
  }

  .form-group {
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 132px;
    }
  }

  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }

  @keyframes rock {
    0%,5%, 10% { transform: rotate(0deg); }
    2.5% { transform: rotate(-5deg); }
    7.5% { transform: rotate(5deg); }
  }

  .cta-btn {
      font-size: 1.2em;
      animation: rock 5.6s linear infinite;
  }

  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
}
