// Styling for the contact section
section#contact {
  background-color: $black;
  background-image: url("#{$contact-image}");
  background-repeat: no-repeat;
  background-position: center;

  .section-heading {
    color: $white;
  }

  .section-subheading {
    color: $gray-300;
    line-height: 1.4;
    font-size: 18px;
  }

  .pre-button {
    color: $white;
    font-size: 2em;
    line-height: 1.1em;
  }

  .cta-btn {
      font-size: 1.4em;
      animation: rock 5.6s linear infinite;
      margin-top: 2rem;
      
      *:last-child {
        margin-bottom: 0;
      }
  }
}
