// Styling for the masthead
header.masthead {
  // text-align: center;
  // color: $gray-900;
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);

  .intro-text {
    padding-top: 50px;;
    padding-bottom: 50px;
    width: fit-content;
    text-align:center;
    margin: auto;

    .intro-lead-in {
      font-size: 28px;
      color: white;
      line-height: 22px;
      @include script-font;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 75px;
      color: white;
      @include primary-shadow;
      @include heading-font;
      
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }

    .intro-lead-out {
      font-size: 22px;
      font-weight: bold;
      line-height: 22px;
      letter-spacing: .5px;
      color: $white;

      @include heading-font;
    }
  }
}

@media(min-width:992px) {
  header.masthead {
    
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      
      .intro-lead-in {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
        @include script-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
