// Button Styles
button, .btn {
  border-radius: 0;
}

.btn {
  @include heading-font;
  font-weight: 700;
  border: 1px solid black;
  box-shadow: 1px 1px 1px;

  &:active,
  &:focus {
    box-shadow: .5px .5px 0 1px $black inset !important;
  }
}

.btn-xl {
  font-size: 1.3em;
  padding: 20px;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: white;
  }

}

.btn-secondary {
  background-color: $white;
  border: 1px solid $primary;
  color: $primary;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($white, 7.5%);
    color: $primary;
  }
}

.btn-tertiary {
  background-color: $secondary;
  // border: 1px solid $secondary;
  color: $primary;

  &:active,
  &:focus,
  &:hover {
    background-color: lighten($secondary, 5%);
    color: $primary;
  }
}