---
layout: page
---

{% assign service_category = site.service_categories | where: "external_id", page.service_category_id | first %}

<main id="{{ page.id }}">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="breadcrumbs mt-4">
					<a href="/">Home</a> > <a href="/portfolio">Services</a> > <a href="{{ service_category.url }}">{{ page.title }}</a> > Showcase
				</div>
			</div>
		</div>
	</div>
	<div class="page-section mb-0">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="page-title">
						Showcase: {{ page.title }}
					</h1>
					<p>{{ page.description }}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="page-section">
	    <div class="container mb-4">
	        <div class="mb-4 examples-list">
	        	{% for example in site.data.examples %}
	        		{% if example.service_category_ids contains page.service_category_id %}
	        			<div class="row mb-4">
	        			{% if forloop.index != 1 %}
	        			<hr class="mb-4 mt-4">
	        			{% endif %}

	        			<div class="example-information col-12 col-md-8">
	        			<h3 class="example-name">{{ example.title }}</h3>
	        			<p class="example-description">{{ example.description }}</p>
	        			<b>Services:</b><br>
	        			<ul>
	        				{% for service_id in example.service_ids %}
		        				{% assign service = site.data.services | where: "external_id", service_id | first %}
		        				<li>{{ service.name }}</li>
	        				{% endfor %}
	        			</ul>
	        			</div>

	        			<div class="col-12 col-md-4 ">
	        			<div
	        			  class="example-image-price"
	        			  style="background-image: url({{ example.image.src }}); height: 200px;"
	        			>
	        			</div>

	        			<!-- CTA -->
	        			<a class="cta-btn btn btn-tertiary flat" href="{{ example.link }}" target="_blank">View Now ⬈</a>
	        			</div>
	        			</div>

	        			{% if example.additional_links %}
	        				<div class="row">
	        					<div class="col">
	        						<p><b>Additional links: </b>
	        						{% for link in example.additional_links %}
	        							{% if forloop.index != 1 %}&nbsp;|&nbsp;{% endif %}
	        							<a href="{{ link.url }}" target="_blank">{{link.title}}</a>
	        						{% endfor %}
	        						</p>
	        					</div>
	        				</div>
	        			{% endif %}

	        			{% if example.additional %}
	        			<div class="row">
	        			<div class="col">
	        			<p class="example-additional">
	        				{{ example.additional }}
	        			</p>
	        			</div>
	        			</div>
	        			{% endif %}
	        		{% endif %}
	        	{% endfor %}
	        </div>

	        <div class="row justify-content-center">
	            <a class="cta-btn btn btn-tertiary p-3 w-75" data-bs-toggle="modal" data-bs-target="#contact-modal" href="#">
	            	Contact us to get started today
	            </a>
	        </div>
	    </div>
	</div>

</main>