// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
  // padding-top: $approx-header-height-desktop;

  @media only screen and (max-width: 991px) {
    padding-top: $approx-header-height-mobile;
  }
}

// Element styles
p {
  line-height: 1.75;
}

a {
  color: $primary;
  text-decoration: underline;

  &:hover {
    color: darken($primary, 10%);
  }
}

a.outbound::after {
  content: "\2197"; // ↗
  margin: 0 1em 0 2px;
}

a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

a.hide-link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}


/****************
// Global Classes
/***************/

.text-primary {
  color: $primary !important;
}

.splash-color {
  color: $secondary;
}

.small-caps {
  font-variant: small-caps;
}

.footnote {
  font-size: .8em;
}

.primary-shadow {
  @include primary-shadow;
}

.heading-font {
  @include heading-font;
}

.highlight-link {}

.bg-dark {
  color: $white;
  background-color: $primary;

  .text-muted {
    color: $gray-200 !important; // bs override
  }

  a {
    color: $white;
  }

  .btn-primary,
  .btn-secondary,
  .btn-tertiary {
    color: initial;
  }
}


/****************
// Bootstrap Overrides
/***************/
.modal {
    padding-right: 0px !important;
}

.bg-dark {
  background-color: $bg-dark-color !important;
}


/****************
// Highlight color customization
/***************/
::-moz-selection {
  background: $secondary;
  text-shadow: none;
}

::selection {
  background: $secondary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
