// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
  // padding-top: $approx-header-height-desktop;

  @media only screen and (max-width: 991px) {
    padding-top: $approx-header-height-mobile;
  }
}

// Element styles
p {
  line-height: 1.75;
}

a {
  color: $primary;
  text-decoration: underline;
  &:hover {
    color: darken($primary, 10%);
  }
}

a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

button, .btn {
  border-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

// Global Classes
.text-primary {
  color: $primary !important;
}

.splash-color {
  color: $secondary;
}

.footnote {
  font-size: .8em;
}


.highlight-link {
  font-weight: bold;
  padding: 0 .25em;
}

// Bootstrap Overrides
.modal {
    padding-right: 0px !important;
}

// Highlight color customization
::-moz-selection {
  background: $secondary;
  text-shadow: none;
}

::selection {
  background: $secondary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
