/* Also see legacy _page.scss for applicable styles */

.home, .landing-page {
    .page-section {
        padding: 100px 0;
        @media(min-width:768px) {
            padding: 150px 0;
        }
        
        &.section-slim {
            padding: 50px 0;
            @media(min-width:768px) {
            padding: 100px 0;
            }
        }
        
        .section-heading-row {
            margin-bottom: 75px;
        }
        
        h2.section-heading {
            font-size: 40px;
            margin-top: 0;
            margin-bottom: 15px;
        }
        
        h3.section-subheading {
            font-weight: 400;
            font-style: italic;
            text-transform: none;
            @include serif-font;
            color: $gray-300;
            line-height: 1.4;
            font-size: 18px;
        }
    }

    .bg-dark {
        color: $white;
        background-color: $black !important;
    }

    .text-muted {
        color: $gray-300;
    }
}