.standard-page {
    .page-section {
        padding: $page-spacing-sm;
        &:first-child {
            padding-top: $page-spacing-sm * 2;
        }

        @media(min-width:768px) {
            padding: $page-spacing-md 0;
            &:first-child {
                padding-top: $page-spacing-md * 2;
            }
        }

        .highlight-link {
            font-weight: bold;
            padding: 0 .25em;
        }

        .section-heading-row {
            margin-bottom: 75px;
        }

        h2.section-heading {
            font-size: 40px;
            margin-top: 0;
            margin-bottom: $page-spacing-sm;
        }

        h3.section-subheading {
            font-size: 16px;
            font-weight: 400;
            font-style: italic;
            margin-bottom: 75px;
            text-transform: none;
            @include serif-font;
        }
    }
}